
@{
    ViewBag.Title = "AddDetails";
}

<main>
    <div class="d-flex flex-column">
        <h2 class="fw-bolder">User information</h2>
        <p class="fw-bolder">Enter Product Id</p>
        <input type="number"/>
        <p class="fw-bolder">Enter Product Name</p>
        <input type="text" />
        <p class="fw-bolder">Enter Product Description: </p>
        <input type="text" />
        <button class="btn btn-success text-white border rounded-pill mt-4" style="width:fit-content;">Submit</button>
    </div>
</main>

