
@{
    ViewBag.Title = "Details";
}
@using EcommerceEntities

<h2>Details</h2>

@{
    Product p = ViewBag.productInfo;


    <table class="table table-borderless ">
        <tr>

            <td class="h1" colspan="2">@p.Title</td>
        </tr>
        <tr>
            <th>Description</th>
            <td class="text-center">@p.Description</td>
        </tr>
        <tr>
            <th>Unit Price</th>
            <td class="text-center">@p.UnitPrice</td>
        </tr>      
        <tr>
           
            <td class="text-center" colspan="2"> <a class="btn btn-success" href="/ShoppingCart/AddToCart/@p.Id">Add to Cart</a></td>
            
        </tr>
            
    </table>
}

<p></p>