@using Catalog;
@{
    ViewBag.Title = "Index";
}
@using EcommerceEntities;
<div class="d-flex flex-column p-3">

    @{
        foreach (Product p in @Model)
        {
            <p class="text-danger p-3">@p.Id</p>
            <p class="text-danger p-3">@p.Title</p>
            <p class="text-danger p-3">@p.UnitPrice</p>
            <a href="/Product/Details/@p.Id">Go to details</a>
    
        }
    }
</div>


