@using Catalog;
@{
    ViewBag.Title = "Index";
}
@using EcommerceEntities;
<div class="d-flex flex-column p-3">



    @{
        foreach (Product p in @Model)
        {
            <table class="table"> 
                <tr>
                    
                    <td class="h1">@p.Title</td>
                </tr>
                <tr>
                    <th>Unit Price</th>
                    <td class="text-center">@p.UnitPrice</td>
                </tr>
                <tr>
                    <th>Detail</th>
                    <td class="text-center"> <a class="btn btn-success   " href="/Product/Details/@p.Id">Details</a></td>
                </tr>

            </table>
        }
    }
</div>


