
@{
    ViewBag.Title = "Register";
}
<div>
    <form method="post" action="/auth/Register">


        <h2 class="fw-bold">Register</h2>
        <div class="d-flex flex-column gap-2">
            <label class="d-block">First name</label>
            <input type="text" name="firstName" placeholder="first name" />
            <label class="d-block">Last name</label>
            <input type="text" name="lastName" placeholder="last name" />
            <label class="d-block">Email</label>
            <input type="email" name="email" placeholder="email" />
            <label class="d-block">Password</label>
            <input type="password" name="password" placeholder="password" />
            <label class="d-block">Phone number</label>
            <input type="tel" name="contactNumber" placeholder="phone number" />
        
            <button class="bg-success text-white border rounded-pill px-2" style="width:fit-content" type="submit">Register</button>
            
        </div>
        
    </form>
</div>

