
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
<form method="post" action="/Auth/ResetPassword"class="d-flex flex-column gap-1 w-25  py-2">
    <label>Email</label>
    <input name="email" type="email"/>
    <label>Old Password</label>
    <input name="oldPassword" type="password"/>
    <label>New Password</label>
    <input name="newPassword" type="password" />
    <button style="width:100px" class="mt-1 bg-success text-white rounded-pill p-1 border border-0" type="submit">Reset</button>
</form>

