@{
    ViewBag.Title = "Home Page";
}

<main class="d-flex flex-column">
    <h3 class="fw-semibold p-1" style="width:fit-content">HDFC NETBANKING @ViewBag.company</h3>
    <hr />
   <img src="~/Images/hdfc.png" width="100" height="100"/>
</main>